<h2>Search Movies <small>{{searchTerm}}</small></h2>

    <form class='form' ng-submit='search()'>
      <!-- toggle has-error // movies.Error <= bc its called Error inside the json data-->
      <div class='form-group' ng-class="{'has-error': movies.Error}">
        <label class='control-label'>{{movies.Error}}</label>
        <input type='text' class='form-control' ng-model='searchTerm' typeahead="searchTerm for searchTerm in searchTerms | filter:$viewValue | limitTo:8">
      </div>

      <div class="btn-group">
        <label class="btn btn-success" ng-change='search()' ng-model="searchType" btn-radio="'movie'" uncheckable>Movie</label>
        <label class="btn btn-success" ng-change="search()" ng-model="searchType" btn-radio="'series'" uncheckable>Series</label>
        <label class="btn btn-success" ng-change="search()" ng-model="searchType" btn-radio="'episode'" uncheckable>Episode</label>
     </div>

      <input type='submit' value='Search' class='btn btn-primary'>
    </form>

    <div ng-show='loading' class='text-center'>
      <img src='http://www.ansut.ci/web/img/captcha/loader1.gif' class='loading'>
    </div>
    <br><br>
    <table class='table table-hover' ng-show='movies.Search && !loading'>
      <thead>
        <tr>
          <th>Title</th>
          <th>Year</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <!-- could've been taco in movies.Search -->
        <tr ng-repeat='movie in movies.Search'>
          <td><a href='#!/movie/{{movie.imdbID}}'>{{movie.Title}}</a></td>
          <td>{{movie.Year}}</td>
          <td><span class='label label-primary'>{{movie.Type | uppercase}}</span></td>
        </tr>
      </tbody>
    </table>
